body {
  margin-inline: 5rem;
  margin-block: 3rem;
  text-align: left;
  font-size: 25px;
}

header {
  text-align: left;
  margin-top: 4rem;
}
/* header img {
  width: 200px;
  height: auto;
  margin-bottom: 6rem;
} */

.boldWords {
  font-weight: bold;
}

h1 {
  width: 500px;
  font-weight: 400;
  font-size: 5rem;
  line-height: 4rem;
}

h3 {
  font-weight: bold;
  font-size: 2rem;
  color: #c2128d;
  margin: 0;
}
li {
  padding-bottom: 0.3rem;
}
ul {
  padding: 2rem;
}
button {
  width: 300px;
  height: 75px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  background-color: #00ffff;
  border: 1px solid #00ffff;
  box-shadow: 0px 0px 18px#00ffff;
  margin-left: 20rem;
  cursor: pointer;
}

#condition {
  display: none;
  margin-top: 1rem;
  color: #c2128d;
  font-weight: bold;
}
/* Nasconde la checkbox originale */
.custom-checkbox input {
  display: none;
}

.custom-checkbox {
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  color: white;
  font-weight: 600;
}

.checkmark {
  width: 30px;
  height: 30px;
  border: 3px solid white;
  display: inline-block;
  margin-right: 10px;
  background-color: transparent;
  position: relative;
  vertical-align: middle; /*era un semplicissimo comando per centrare 😢*/
}

.custom-checkbox input:checked + .checkmark::before {
  /*Quando l'<input> (checkbox) viene selezionato (:checked), lo stile applicato al ::before della .checkmark cambia.*/
  content: "✔";
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra la spunta */
}

.custom-checkbox input:checked + .checkmark {
  background-color: #c2128d; /*l'ho messo qui e non insieme a quella prima perchè sennò non avrebbe riempieto tutto lo sfondo ma solo lo spazio occupato dall'icona*/
}
