header {
  text-align: left;
  margin-inline: 5rem;
  margin-block: 5rem;
  text-align: left;
  font-size: 25px;
  margin-bottom: 0rem;
}
main {
  text-align: center;
  margin-inline: 10rem;
}
.boldWords {
  font-weight: bold;
}
h1 {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 0.8rem;
}
body p {
  font-size: 1.8rem;
  font-weight: 300;
}
.feedback-container {
  border-bottom: 3px solid rgb(194, 18, 141);
  text-align: left;
  margin: auto;
  max-width: 50rem;
}
#feedback {
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 1.3rem;
  color: white;
  outline: none;
}
.button-container {
  margin-top: 1rem;
  text-align: center;
  display: block;
  padding-top: 3rem;
}
button {
  width: 240px;
  height: 68px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 25px;
  background-color: #00ffff;
  border: 1px solid #00ffff;
  box-shadow: 0px 0px 30px#00ffff;
  cursor: pointer;
}

#star-container {
  display: inline-block;
  white-space: nowrap;
  margin-bottom: 4rem;
}

.star {
  display: inline-block;
  cursor: pointer;
  width: 70px;
  height: 70px;
  padding-inline: 5px;
  fill: #0b113b;
}

.bo {
  stroke: rgb(194, 18, 141);
  stroke-width: 2%;
  stroke-opacity: 0.2;
}

.accesa {
  fill: #00ffff;
}

.spenta {
  fill: #0b113b;
}

.classnewdiv {
  font-size: 1.8rem;
  font-weight: 300;
  margin-inline: 5rem;
  text-align: center;
}
