main {
  text-align: center;
  padding-top: 0;
}
body {
  margin-inline: 5rem;
  margin-top: 2rem;
}
main h1 {
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 3rem;
}
h1 span {
  font-weight: bold;
}

footer {
  text-align: center;
  margin-top: 8rem;
}
button {
  vertical-align: middle;
  width: 20rem;
  max-height: 10rem;
  height: 3.5rem;
  border-radius: 30px;
  background: #be92922b;
  color: white;
  margin-bottom: 0.5rem;
  border-color: #fef9fc;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}
footer img {
  margin-inline: 5rem;
  margin-block: 5rem;
}
header {
  overflow: hidden;
}

/* STILE DEL TIMER */
svg {
  display: inline-block;
}

@keyframes circletimer {
  0% {
    stroke-dasharray: 565px 800px;
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dasharray: 565px 800px;
    stroke-dashoffset: -565px;
  }
}

#progressBar {
  animation: 30s circletimer linear;
}
#logo {
  float: left;
  padding-top: 1rem;
}
#cerchio {
  float: right;
  position: relative;
}
#pCerchio {
  position: absolute;
  z-index: 1;
  top: 29%;
  left: 35%;

  font-size: 8px;
}
#middleText {
  font-size: 35px;
  margin-bottom: 0px;
}
#firstP {
  margin-bottom: 0;
}

 
#benchmark {
  max-width: 80%;
  margin-left: 200px;
  margin-right: 200px;

}
